.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 0;
    color: var(--text-secondary);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 2.8rem;
    width: 2.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 3.5px 5px rgba(255, 255, 255, 0.2),
        inset -2px -2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px) saturate(150%) brightness(1);
}

.toggleButton:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.1));
    transform: scale(1.1);
    border-radius: 18px;
    box-shadow: 0 6px 12px rgba(96, 165, 250, 0.5), inset 0 2px 4px rgba(96, 165, 250, 0.5);
    border: none;
}