.scrollToTopBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    color: var(--text-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.2),
        inset 5px 3.5px 5px rgba(255, 255, 255, 0.2),
        inset -2px -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(1px) saturate(150%) brightness(1);
    -webkit-backdrop-filter: blur(1px) saturate(150%) brightness(1);

}

.scrollToTopBtn:focus {
    outline: none;
}

.scrollToTopBtn.visible {
    opacity: 1;
    pointer-events: auto;
}

/* .scrollToTopBtn:hover {
    background-color: var(--bg-primary);
    border-color: var(--text-secondary);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} */

.scrollToTopBtn:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.1));
    border: 1px solid rgb(73, 71, 194);
    transform: translateY(-2px);
    box-shadow:
        0 6px 12px rgba(96, 165, 250, 0.5),
        inset 0 2px 4px rgba(96, 165, 250, 0.5);
}

/* Target the SVG specifically */
.scrollToTopBtn svg {
    width: 1.3rem;
    height: 1.3rem;
    stroke: var(--text-primary);
    stroke-width: 2px;
}